In [3]:
import pandas as pd

In [4]:
file = pd.read_csv('data_departement_46.csv', sep=';')

In [10]:
file['TX'].isna().sum()

563579

In [11]:
(563578/806266)*100

69.89976012879124

In [6]:
file

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,...,DXI2,QDXI2,HXI2,QHXI2,FXI3S,QFXI3S,DXI3S,QDXI3S,HXI3S,QHXI3S
0,46005001,ANGLARS,44.493333,1.208167,104,19890424,0.0,1.0,5.8,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46005001,ANGLARS,44.493333,1.208167,104,19890425,14.6,1.0,11.3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46005001,ANGLARS,44.493333,1.208167,104,19890426,0.0,1.0,6.2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46005001,ANGLARS,44.493333,1.208167,104,19890427,10.0,1.0,-0.4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46005001,ANGLARS,44.493333,1.208167,104,19890428,0.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806261,46332001,VIAZAC - LABOUD,44.662500,2.073833,394,20211227,40.1,1.0,5.7,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806262,46332001,VIAZAC - LABOUD,44.662500,2.073833,394,20211228,16.2,1.0,9.2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806263,46332001,VIAZAC - LABOUD,44.662500,2.073833,394,20211229,5.6,1.0,11.3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806264,46332001,VIAZAC - LABOUD,44.662500,2.073833,394,20211230,0.0,1.0,10.1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806265,46332001,VIAZAC - LABOUD,44.662500,2.073833,394,20211231,0.0,1.0,5.3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN